<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-6" aria-expanded="false"><span
        class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
        class="icon-bar"></span></button>
      <a href="#" class="navbar-brand">Lane</a></div>
    <div class="container" style="text-align:center">
      <h4>{{title}}!</h4>
    </div>
  </div>
</nav>
