<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row top30">
        <div class="col-md-12 text-center" style="padding-right:20px; border-right: 1px solid #ccc;">
          <img [src]="url" #appImgAction style="width: 200px; height: auto;">
        </div>
      </div>
      <div class="row top15">
        <div class="col-md-12 text-center">
          <label class="btn btn-primary glyphicon glyphicon-folder-open" for="upload"> Upload</label>
          <input type="file" id="upload" style="display:none" (change)="readUrl($event)">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h4>Available Actions</h4>
            <hr>
            <button *ngFor="let value of availableActions" [disabled]="!isFileUploaded" class="col-md-12 btn btn-info top5"
            (click)="applyAction(value)">
              {{value.name}}
            </button>
          </div>
          <div class="col-md-6">
            <h4>Applied Actions</h4>
            <hr>
            <button *ngFor="let value of appliedActions" class="col-md-12 btn btn-danger top5"
                 (click)="removeAction(value)">
              {{value.name}}
            </button>
          </div>
        </div>
        <div class="row top30">
          <div class="col-md-12 text-center">
            <button class="btn btn-warning" (click)="makeAllActionsAvailable()">
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
